body {
  background: linear-gradient(135deg, #e6f7f7, #def2f1);
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
}

h1 {
  color: #2b7a78;
}

p {
  color: #17252a;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #feffff;
}
